@model IEnumerable<Internship_Recommendation_System.ViewModels.CompanyViewModel>

@{
    ViewBag.Title = "View Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Companies -->
<div class="col-12">
    <div class="card recent-sales overflow-auto">

        <div class="card-body">
            <table class="table table-borderless datatable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HRManager)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CompanyAddress)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName)
                            </td>
                            @{
                                if (item.HRManager != null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HRManager)
                                    </td>
                                }
                                else
                                {
                                    <td>N/A</td>
                                }
                                if (item.Email != null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                }
                                else
                                {
                                    <td>N/A</td>
                                }
                                if (item.PhoneNo != null)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNo)
                                    </td>
                                }
                                else
                                {
                                    <td>N/A</td>
                                }
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyAddress)
                            </td>
                            <td>
                                <a class="btn btn-danger" href="#" onclick="deleteCOMP(@item.CompanyID)">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Companies -->
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"><i class="bi bi-info-circle-fill g-5"></i>&nbsp;Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="deleteModal-modal-body">
                Are You Sure You want to Delete this Record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteBtn" class="btn btn-danger" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- Delete Modal-->
<!-- General Modal -->
<div class="modal fade" id="generalCOMPModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary"><i class="bi bi-info-circle-fill g-5"></i>&nbsp;Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="generalCOMPModal-modal-body">
            </div>
        </div>
    </div>
</div>
<!-- End General Modal-->

@section Scripts{
    <script src="~/ViewScripts/Company.js"></script>
}